name: PostgreSQL service with check

on:
  workflow_dispatch: # Trigger manually

jobs:
  postgres-test:
    runs-on: ubuntu-latest

    services:
      postgres_database:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: gitHub_actions_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install PostgreSQL Client
        run: |
          sudo apt-get update
          sudo apt-get install -y postgresql-client

      - name: Connect to PostgreSQL and run query
        env:
          PGPASSWORD: password
        run: |
          psql -h localhost -p 5432 -U postgres -d gitHub_actions_db -c "SELECT version();"
